<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Finish Page</title>
</head>
<body>

<h1>Results</h1>

<p>Date taken: <span th:text="${date}"></span></p>
<p>Name: <span th:text="${username}"></span></p>
<p>Score: <span th:text="${score}"></span></p>

<form action="/leaderboard" method="post">
    <input type="submit" value="Leaderboard">
</form>

<br>

<form action="/" method="get">
    <input type="submit" value="Home Page">
</form>

</body>
</html>