<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Question Deleting</title>
</head>
<body>
<h1>Question Deleting</h1>

<p>You are about to delete this question</p>

<span th:text="${questionText}"></span>

<br> <br>

<form action="/question-deleted" method="post">
    <input type="hidden" name="questionId" th:value="${questionId}">
    <input type="submit" value="Delete">
</form>


<br> <br>

<button onclick="goBack()">Cancel</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>